<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/admin/images/favicon (2).ico" type="image/ico" />
    <title>TASHA Store | Manual</title>
    <!--FONT AWESOME-->
    <link rel="stylesheet" href="/fontawesome/css/font-awesome.min.css">


    <!--FONTS-->
    <link href="https://fonts.googleapis.com/css?family=Cairo:300,400,700|Josefin+Sans:300i,400,400i,600,700"
          rel="stylesheet">

    <!--Owl Carousel-->
    <link rel="stylesheet" href="/owl-carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/owl-carousel/assets/owl.theme.green.min.css">

    <!--BOOTSTRAP CSS-->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

    <!--OUR CSS-->
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/manual.css">

    <!--FOOTER CSS-->
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/header.css">

</head>
<body>
<!--START OF HEADER SECTION-->
<%-include('partial/header')%>
<!--END OF HEADER SECTION-->
<!--START OF HOME SECTION-->
<section>
    <div class="row1">
        <div class="col-md-7">
            <h2 class="text-center"> Manuals</h2>
            <h3 class="text-center">Shopping guide <i class="fa fa-pencil"></i></h3>
            <div class="row">
                <div class="col-md-12">
                    <p><strong>1. Login to your account at TASHA:</strong></p>
                    <p>Please log in with an existing TASHA account or login through Facebook / Google. In case you
                        have not registered an account, you can choose the line "Create an account" to <a href="">register
                            an account</a>
                        at TASHA.</p>
                    <p>Once completed, you can click on the word "Create an account" to complete the registration
                        process.</p>
                    <p><strong>2. Search for products</strong></p>
                    <p>You can find products in 3 ways:</p>
                    <ul>
                        <li>Type the product name into the search bar.</li>
                        <li>Search by category.</li>
                        <li>Search for the latest, best selling or popular categories across each category.</li>
                    </ul>
                    <p><strong>3. Add product to cart</strong></p>
                    <p>Once you have found the product you want, please click on the image or product name to access the
                        product details page, then:
                    </p>
                    <ul>
                        <li>Check product information: price, promotion information.</li>
                        <li>Select the desired quantity.</li>
                        <li>Add products to cart.</li>
                    </ul>
                    <p>Once you have placed the first item in your order, please follow the steps below to add other
                        products to your shopping cart:</p>
                    <ul>
                        <li>Click on the TASHA logo to return to the homepage or type in a product search on the toolbar.
                        </li>
                        <li>Add products to cart by selecting quantity and “Buying option”.</li>
                        <li>* This process can be repeated until you have finished putting all items in your shopping cart
                            *.
                        </li>
                    </ul>
                    <p><strong>4. Check cart and place an order.</strong></p>
                    <p>You can put different products in 1 cart into 1 order, the products in the cart will be packed into 1
                        package (if the product belongs to the same supplier / processed warehouse) and delivered to the
                        address you have registered.
                    </p>
                    <p>After you have all the items you need to put in your shopping cart, please use Tiki coin or discount
                        code (if any) and continue the following steps to order:</p>
                    <ul>
                        <li>Adjust quantity and update cart.</li>
                        <li>Click "Proceed to Order" to start ordering.</li>
                    </ul>
                    <p><strong>5. Enter the shipping address</strong></p>
                    <p><strong>6. Choose your payment method, use TASHA Coin and "Buy Now"</strong></p>
                    <p><strong>7. Check and confirm order</strong></p>
                    <p>After completing all the orders, the system will send you an order number and notice the expected
                        delivery time, you can check your order by clicking on the line "My order. ”Or order confirmation
                        email.</p>

                </div>

            </div>
        </div>
    </div>

</section>
<!--END OF HOME SECTION-->

<!--START OF FOOTER SECTION-->
<%-include('partial/footer')%>
<!--END OF FOOTER SECTION-->
<!--.jquery js-->
<script src="/js/jquery.min.js"></script>

<!--.bootstrap-->
<script src="/bootstrap/js/bootstrap.min.js"></script>

<!--owl carousel-->
<script src="/owl-carousel/owl.carousel.min.js"></script>

<!--Our JS-->
<script src="/js/home.js"></script>
</body>
</html>