*{
    box-sizing: border-box;
}
.row1 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.col-md-12 ul{
    padding-left: 20px;
    list-style-position: outside;
    margin: 20px 0 20px 20px;
}