<footer id="contact" class="footer">
    <div class="container2">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-md-5">

                    <div class="contact-left">
                        <div class="cr1"></div>
                        <a class="brand" href="/"><span class="title-kitchen">TASHA</span><span
                                    class="fa fa-paw fa-2x " style="border: 1px solid #6F5CF3;padding: 5px 6px; border-radius: 50%"></span> <span class="title-design">The Home Store</span></a>
                        <p class="para">is a famous brand in the field of home<br>
                            kitchenware with many different types <br> of items.
                            The group had great profits<br>in 2013</p>

                        <i class=" list fa fa-facebook"></i>
                        <i class=" list fa fa-vimeo"></i>
                        <i class=" list fa fa-twitter"></i>
                        <i class=" list fa fa-instagram"></i>
                        <i class=" list fa fa-google"></i>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="cr1">
                        <div class="col-md-3">
                            <h3>CONTACT</h3>
                            <a href="AboutUs">Hotline:9946030912(8:00 - 24:00)</a>
                            <a href="ContactUs">Mail: support@tashastore.id</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="cr2">
                        <div class="col-md-8">

                            <h3>SUPPORT LINKS</h3>
                            <a href="/manual">Manuals</a>
                            <a href="/expert-tip">Expert Tips</a>
                            <a href="/register-complaint">Register Complain</a>
                            <a href="/feedback">Feedback</a>
                            <a href="/contact">Contact</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#home" class="smooth-scroll btn btn-sm btn-blue btn-back-to-top hidden-xs hidden-sm" title="home"
       role="button"> <i class="fa fa-angle-up"></i></a>

    <div class="ending">
        <h5 class="copyright">Copyright &copy; 2021 TASHA - TheHomeStore. All rights are reserved.</h5>
    </div>

</footer>